<div class="mt-100">
    <form method="GET" action="">
 
  <div class="form-group">
    <label for="search-input">Key word</label>
    <input type="text" name="q" class="form-control" id="search-input" placeholder="Let iput key word">
  </div>

  <button type="submit" class="btn btn-primary">Searching</button>

</form>
</div>